
# ============================================
# WHITE BOOK (GSP) API CREDENTIALS
# ============================================
WHITEBOOK_CLIENT_ID=GSTS0a031475-202e-49c0-b2e7-5fdfe7040f89
WHITEBOOK_CLIENT_SECRET=GSTS2b5236f1-8690-4dbf-9dbd-fe644e30b4bd
WHITEBOOK_EMAIL=dev.sanjayraomca@gmail.com
WHITEBOOK_BASE_URL=https://apisandbox.whitebooks.in

